.wrapper {
  display: block;
  width: 100%;

  &--state {
    &-default {
      .timePicker {
        border-color: var(--border-line);
      }
    }

    &-error {
      .timePicker {
        border-color: var(--border-red);
      }
    }
  }

  &:not(.wrapper--disabled):hover,
  &:not(.wrapper--disabled).wrapper--focus {
    .timePicker {
      border-color: var(--border-blue);
      box-shadow: var(--shadow-input-focus);
    }
  }

  &--disabled {
    .timePicker {
      background-color: var(--background-disabled);
      cursor: not-allowed;
    }
  }
}

.timePicker {
  width: 100%;
  background-color: var(--background-white);
  border: 1px solid transparent;
  border-radius: var(--border-radius-4);
  box-shadow: var(--shadow-input);
  transition: all .3s ease-in-out;
}

.message {
  position: absolute;
  top: calc(100% + 3px);
  left: 0;
  display: block;
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  color: var(--content-red);
}
