.wrapper {
  display: block;
}

.content {
  background-color: var(--background-line);
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 16px;

  > * {
    margin-left: 12px;
  }
}
